// https://www.fontsquirrel.com/fonts/montserrat
@font-face {
	font-family: 'Sportive-Regular';
	src: url('fonts/Sportive-Regular.eot');
	src: local('☺'), url('fonts/Sportive-Regular.woff') format('woff'), url('fonts/Sportive-Regular.ttf') format('truetype'), url('fonts/Sportive-Regular.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Sportive-Regular';
	src: url('fonts/Sportive-Regular.eot');
	src: local('☺'), url('fonts/Sportive-Regular.woff') format('woff'), url('fonts/Sportive-Regular.ttf') format('truetype'), url('fonts/Sportive-Regular.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Sportive-Regular';
	src: url('fonts/Sportive-Italic.eot');
	src: local('☺'), url('fonts/Sportive-Italic.woff') format('woff'), url('fonts/Sportive-Italic.ttf') format('truetype'), url('fonts/Sportive-Italic.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Sportive-Regular';
	src: url('fonts/Sportive-Regular.eot');
	src: local('☺'), url('fonts/Sportive-Italic.woff') format('woff'), url('fonts/Sportive-Italic.ttf') format('truetype'), url('fonts/Sportive-Italic.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}
